
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>员工列表</title>
<script type="text/javascript"
	src="@routes.Assets.versioned("js/jquery-1.12.4.min.js")"></script>
<link
	href="@routes.Assets.versioned("bootstrap-3.3.7-dist/css/bootstrap.min.css")"
	rel="stylesheet">
<script
	src="@routes.Assets.versioned("bootstrap-3.3.7-dist/js/bootstrap.min.js")"></script>
</head>
<body>
<!-- 员工修改的模态框 -->
<div class="modal fade" id="empUpdateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">员工修改</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="update_form">
            <input type="hidden" name="empId" value="" id="update_empId">
		  <div class="form-group">
		    <label class="col-sm-2 control-label">empName</label>
		    <div class="col-sm-10">
                <input type="text" name="empName" class="form-control" id="empName_update_input" readonly="readonly">
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">email</label>
		    <div class="col-sm-10">
		      <input type="text" name="email" class="form-control" id="email_update_input" placeholder="email@@atguigu.com">
		      <span class="help-block"></span>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">gender</label>
		    <div class="col-sm-10">
		      <label class="radio-inline">
				  <input type="radio" name="gender" id="gender1_update_input" value="男" checked="checked"> 男
				</label>
				<label class="radio-inline">
				  <input type="radio" name="gender" id="gender2_update_input" value="女"> 女
				</label>
		    </div>
		  </div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="emp_update_btn">更新</button>
      </div>
    </div>
  </div>
</div>



<!-- 员工添加的模态框 -->
<div class="modal fade" id="empAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">员工添加</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="save_form">
            <input type="hidden" name="empId" value="" id="add_empId">
		  <div class="form-group">
		    <label class="col-sm-2 control-label">empName</label>
		    <div class="col-sm-10">
		      <input type="text" name="empName" class="form-control" id="empName_add_input" placeholder="empName">
		      <span class="help-block"></span>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">email</label>
		    <div class="col-sm-10">
		      <input type="text" name="email" class="form-control" id="email_add_input" placeholder="email@@atguigu.com">
		      <span class="help-block"></span>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">gender</label>
		    <div class="col-sm-10">
		      <label class="radio-inline">
				  <input type="radio" name="gender" id="gender1_add_input" value="男" checked="checked"> 男
				</label>
				<label class="radio-inline">
				  <input type="radio" name="gender" id="gender2_add_input" value="女"> 女
				</label>
		    </div>
		  </div>
		</form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="emp_save_btn">保存</button>
      </div>
    </div>
  </div>
</div>


	<!-- 搭建显示页面 -->
	<div class="container">
		<!-- 标题 -->
		<div class="row">
			<div class="col-md-12">
				<h1>Play-CRUD</h1>
			</div>
		</div>
		<!-- 按钮 -->
		<div class="row">
			<div class="col-md-4 col-md-offset-8">
				<button class="btn btn-primary" id="emp_add_modal_btn">新增</button>
			</div>
		</div>
		<!-- 显示表格数据 -->
		<div class="row">
			<div class="col-md-12">
				<table class="table table-hover" id="emps_table">
					<thead>
						<tr>
							@*<th>*@
								@*<input type="checkbox" id="check_all"/>*@
							@*</th>*@
							<th>#</th>
							<th>empName</th>
							<th>gender</th>
							<th>email</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>

					</tbody>
				</table>
			</div>
		</div>

		<!-- 显示分页信息 -->
		<div class="row">
			<!--分页文字信息  -->
			<div class="col-md-6" id="page_info_area"></div>
			<!-- 分页条信息 -->
			<div class="col-md-6" id="page_nav_area">

			</div>
		</div>

	</div>
	<script type="text/javascript">
		//页面加载完成以后，直接去发送ajax请求,要到表格数据
		$(function(){
			build_emps_table()
		});

		function build_emps_table(){
			//发送ajax请求，并显示员工数据
			$.ajax({
				url:"/findAll",
				type:"GET",
				dataType: 'json',
				success:function(data){
					//首先清空table表格
					$("#emps_table tbody").empty();
					$.each(data,function(item,result){
						//var checkBoxTd = $("<td><input type='checkbox' class='check_item'/></td>");
						var empIdTd = $("<td></td>").append(result.empId);
						var empNameTd = $("<td></td>").append(result.empName);
						var genderTd = $("<td></td>").append(result.gender);
						var emailTd = $("<td></td>").append(result.email);
						var editBtn = $("<button></button>").addClass("btn btn-primary btn-sm edit_btn")
								.append($("<span></span>").addClass("glyphicon glyphicon-pencil")).append("编辑");
						//为编辑按钮添加一个自定义的属性，来表示当前员工id
						editBtn.attr("edit-id",result.empId);
						$("#update_empId").val(result.empId);
						var delBtn =  $("<button></button>").addClass("btn btn-danger btn-sm delete_btn")
								.append($("<span></span>").addClass("glyphicon glyphicon-trash")).append("删除");
						//为删除按钮添加一个自定义的属性来表示当前删除的员工id
						delBtn.attr("del-id",result.empId);
						var btnTd = $("<td></td>").append(editBtn).append(" ").append(delBtn);
						//append方法执行完成以后还是返回原来的元素
						$("<tr></tr>").append(empIdTd)
								.append(empNameTd)
								.append(genderTd)
								.append(emailTd)
								.append(btnTd)
								.appendTo("#emps_table tbody");
					});
				}
			});
		}

		//清空表单样式及内容
		function reset_form(ele){
			$(ele)[0].reset();
			//清空表单样式
			$(ele).find("*").removeClass("has-error has-success");
			$(ele).find(".help-block").text("");
		}

		//点击新增按钮弹出模态框。
		$("#emp_add_modal_btn").click(function(){
			//清除表单数据（表单完整重置（表单的数据，表单的样式））
			reset_form("#empAddModal form");
			//弹出模态框
			$("#empAddModal").modal({
				backdrop:"static"
			});
			//这里要拿到tbody最后一个tr的第一个元素id并给它加1
            var empIdFromTd = $("#emps_table tr:last td:first").text()
            if(empIdFromTd =='' || empIdFromTd == undefined || empIdFromTd == null){
                empIdFromTd = 0
            }
            var currEmpId = parseInt(empIdFromTd)+1
            //将拿到的empId设置到添加框中的隐藏表单域中
			$("#add_empId").val(currEmpId)
		});

		//表单序列化成json字符串的方法
		function form2JsonString(formId) {
			var paramArray = $('#' + formId).serializeArray();
			//请求参数转json对象
			var jsonObj={};
			$(paramArray).each(function(){
				jsonObj[this.name]=this.value;
			});
			// json对象再转换成json字符串

			return JSON.stringify(jsonObj);
		}

		//点击保存，保存员工。
		$("#emp_save_btn").click(function(){
			//模态框中填写的表单数据提交给服务器进行保存
			//发送ajax请求保存员工
			alert(form2JsonString('save_form'))
			$.ajax({
				url:"/insertEmp",
				type:"POST",
				dataType: 'json',
				contentType: "application/json; charset=utf-8",
				data: form2JsonString('save_form'),
				success:function(result){
					if(result.status == "OK"){
						//员工保存成功；
						//关闭模态框
						$("#empAddModal").modal('hide');
						//重新发送查询全部的ajax请求
						build_emps_table();
					}else {
					    alert("保存失败")
					}
				}
			});
		});

		//单个删除
		$(document).on("click",".delete_btn",function(){
			//1、弹出是否确认删除对话框
			var empName = $(this).parents("tr").find("td:eq(1)").text();
			var empId = $(this).attr("del-id");
			//alert($(this).parents("tr").find("td:eq(1)").text());
			if(confirm("确认删除【"+empName+"】吗？")){
				//确认，发送ajax请求删除即可
				$.ajax({
					url:"/deleteById/"+empId,
					type:"DELETE",
					success:function(){
						//刷新页面
						build_emps_table();
					}
				});
			}
		});

        //点击更新，更新员工信息
        $("#emp_update_btn").click(function(){
            //发送ajax请求保存更新的员工数据
            alert(form2JsonString('update_form'))
            $.ajax({
                url:"/updateEmp",
                type:"PUT",
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                data: form2JsonString('update_form'),
                success:function(result){
                    //1、关闭对话框
                    $("#empUpdateModal").modal("hide");
                    //2、回到本页面
                    build_emps_table();
                }
            });
        });

        //在按钮创建之前就绑定了click，所以绑定不上。
        //1).可以在创建按钮的时候绑定。    2).绑定点击.live()
        //jquery新版没有live，使用on进行替代
        $(document).on("click",".edit_btn",function(){
            //查出员工信息，显示员工信息
            getEmp($(this).attr("edit-id"));
            //把员工的id传递给模态框的更新按钮
            $("#emp_update_btn").attr("edit-id",$(this).attr("edit-id"));
            $("#empUpdateModal").modal({
                backdrop:"static"
            });
        });

        //查找指定id的员工并显示到更新模态框中
        function getEmp(id){
            $.ajax({
                url:"/findEmp/"+id,
                type:"GET",
                success:function(data){
                    $.each(data,function(item,result) {
                        $("#empName_update_input").val(result.empName);
                        $("#email_update_input").val(result.email);
                        $("#empUpdateModal input[name=gender]").val([result.gender]);
                    });
                }
            });
        }
	</script>
</body>
</html>